<div>
    <div class="container-fluid">
        <link rel="import" href="partial/study/files.html">
    <table>
        <tr>
            <td>
                <div class="page-header">
                    <h3>Сервис учебных планов</h3>
                </div>
            </td>
            <td>
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Cписок сервисов</span>

                <span class="glyphicon glyphicon-off" aria-hidden="true">Выход</span>
            </td>
        </tr>
        <tr>
            <td>

                <div id="content">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#files" data-toggle="tab">Файлы</a></li>
                        <li><a href="#rights" data-toggle="tab">Права</a></li>
                        <li><a href="#subs" data-toggle="tab">Подписки</a></li>
                    </ul>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="files">
                            <table class="tablesorter" cellspacing="0" width="1000px">
                                <thead>
                                <tr>
                                    <th>Имя файла</th>
                                    <th>Описание</th>
                                    <th>Занят</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="f in files">
                                    <td>{{f.name}}</td>
                                    <td>{{f.description}}</td>
                                    <td>{{f.lock}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane" id="rights">
                            <p>Права</p>
                        </div>
                        <div class="tab-pane" id="subs">
                            <table class="tablesorter" cellspacing="0" width="1000px">
                                <thead>
                                <tr>
                                    <th>Имя файла</th>
                                    <th>Подписка активна</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="s in subs">
                                    <td>{{s.file.name}}</td>
                                    <td>{{s.active}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <div id="studymain">
            </div>
        </tr>
    </table>
    </div>
</div>