html {
    background-color: #F5F5F5;
    min-height: 100%;
    box-sizing: border-box;
    font: 12px/2 Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #888;
}

::-webkit-input-placeholder {
    color: #bbb;
}

#login_from {
    border-radius: 5px;
    margin: 120px auto;
    width: 300px;
    -webkit-perspective: 1000;
}

#login_from h1 {
    position: relative;
    margin: 0;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background-color: orange;
    box-shadow: inset 0 1px rgba(255, 255, 255, .3);
    font-family: Tahoma;
}

#login_from a {
    color: #888;
    text-decoration: none;
}

#login_from a:hover {
    color: #369;
}

#login_from p {
    margin: 0;
}

#login_from .social {
    display: inline-block;
    height: 20px;
    margin-left: 7px;
    padding: 0 2px;
    cursor: pointer;
    border-radius: 3px;
}

#login_from .social:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: top;
    margin: 3px 5px 0 0;
}

#login_from .social:hover {
    color: #333;
    background: #eee;
    box-shadow: 1px 1px 1px #bbb;
}

#login_from fieldset {
    display: block;
    margin: 0;
    padding: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 2px #aaa;
}

#login_from input{
    margin-bottom: 1px;
}

#login_from input:hover {
    background-color: #fbf9ff;
}

#login_from select:hover {
    background-color: #fbf9ff;
}

#login_from label{
    margin-top: 3px;
}

#login_from .submit-button {
    width: 260px;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid #C1711B;
    border-radius: 3px;
    color: #111;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(255, 255, 0, .6);
    background: #FFB83A linear-gradient(rgba(255, 207, 92, .7), rgba(223, 156, 38, .8));
}

#login_from .submit-button:hover {
    background-color: #F5FF00;
}

#login_from .submit-button:active {
    padding: 13px 20px 11px;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
}

/* flip animation */
.flip {
    position: relative;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.form-login,
.form-signup {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

/*.form-signup {*/
/*z-index: 2;*/
/*}*/

/*.form-login {*/
/*z-index: 1;*/
/*}*/

/*.form-signup {*/
/*-webkit-transform: rotateY(180deg);*/
/*-moz-transform: rotateY(180deg);*/
/*}*/

/*.flip.flipped {*/
/*-webkit-transform: rotateY(-180deg);*/
/*-moz-transform: rotateY(-180deg);*/
/*}*/

#login_from input.login-err,
#login_from input.login-err:focus {
    color: #C4550B;
    background-color: #FFEDD7;
    border-color: #EB975F;
}

#login_from input.login-err::-webkit-input-placeholder {
    color: #C4550B;
}

#login_from input.login-ok,
#login_from input.login-ok:focus {
    color: #4E831F;
    background-color: #EBFDDC;
    border-color: #9FCC41;
}

#login_from input.login-ok::-webkit-input-placeholder {
    color: #4E831F;
}

#login_from p.login-msg {
    display: none;
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: #C4550B;
}

@-webkit-keyframes slideOut {
    0% {
        top: -30px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes slideOut {
    0% {
        top: -30px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}